/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-facebook {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-instagram {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -42px 0px;
  width: 32px;
  height: 32px;
}
